* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

body {
    background-color: #121212;
    text-align: center;
}

h1 {
    color: white;
    margin: 5vh 0;
    font-weight: lighter;
}

table {
    border-collapse: collapse;
    border: none;
    margin: auto;
}
  
table td {
    border: 1px solid white;
    width: 10vw;
    height: 10vw;
    font-size: 32pt;
    text-align: center;
}
  
table tr:first-child td {
    border-top: none;
}
  
table tr:last-child td {
    border-bottom: none;
}
  
table tr td:first-child {
    border-left: none;
}
  
table tr td:last-child {
    border-right: none;
}

p.result {
    font-size: 32pt;
    margin: 3vw;
}

button.reload {
    font-size: 25pt;
    background: #5100e7;
    padding: 1vw;
    border: none;
    border-radius: 25px;
}